/* styles.css */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#drawContainer {
    position: relative; /* Position relative to contain absolutely positioned elements */
}

canvas {
    border: 2px solid #000;
}

.overlay-canvas {
    position: absolute; /* Position absolutely within the draw container */
    top: 0;
    left: 0;
    pointer-events: none; /* Disable pointer events to allow interaction with underlying canvases */
}
